/*
=====================================================================
*   kuskulu.com web design
*   url: github.com/eerensuzgen/blog
*   12-08-2021
=====================================================================
   TOC:
  ***Sections
   
===================================================================== */

/* General styles */

body {
  background: #f3f5f7;
}

a {
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}
a:hover {
  color: #e50914;
  text-decoration: none;
  transition: color 0.2s;
}
.pageDiv {
  margin-top: 80px;
}

/* About Section */
.about {
  background-color: #f3f5f7;
}
#aboutImage {
  height: 300px;
  padding-right: 5%;
  margin-top: 0;
  float: left;
}
.aboutTitle {
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  padding: 1%;
}
#aboutSchoolTitle {
  text-align: center;
  font-weight: bold;
  font-size: 50px;
  margin-top: 4%;
}
.aboutBioBlock {
  display: flex;
  flex-direction: row;
  padding-top: 2%;
  margin-left: 10%;
  margin-right: 10%;
}
.aboutBioText {
  float: left;
  font-family: "Times New Roman", Times, serif;
}
.aboutHr {
  margin-left: 10%;
  margin-right: 10%;
}
#aboutSchoolImage {
  margin-top: 5%;
  display: flex;
  margin: auto;
  width: 35%;
}
.aboutSchoolImage2 {
  display: flex;
  margin: auto;
  width: 12%;
}
.aboutSchoolTitle {
  text-align: center;
  font-size: 36px;
}

.aboutSchoolSpan {
  font-weight: 200;
}
.aboutSchoolDate {
  font-weight: 400;
  text-align: center;
  padding-bottom: 4%;
}
@media (max-width: 960px) {
  #aboutImage {
    margin-bottom: 5%;
  }
  #aboutSchoolImage {
    width: 80%;
  }
  .aboutSchoolImage2 {
    width: 35%;
  }
  .aboutSchoolDate {
    margin-bottom: 4vh;
  }
  .aboutBioBlock {
    flex-direction: column;
  }
}

/* Navbar section */

.navigationBar {
  position: fixed;
  z-index: 2;
  background-color: #f3f5f7;
  top: 0;
}
.navigationBar a {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
  color: blue;
  margin: 0 8px;
  font-size: 16px;
  letter-spacing: 1px;
}

.scrollNav {
  background-color: #f3f5f7;
  color: "#ffffff";
}

nav a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  background: #16151b;
  top: 47%;
  animation: out 0.2s cubic-bezier(1, 0, 0.58, 0.97) 1 both;
}

nav a:hover:before {
  animation: in 0.2s cubic-bezier(1, 0, 0.58, 0.97) 1 both;
}
@media (max-width: 960px) and (min-width: 750px) {
  #navigationBarLogo {
    width: 30%;
  }
}
@media (max-width: 750px) {
  .navigationBar {
    background-color: #f3f5f7;
    color: blue;
  }
  .navigationBar a {
    text-align: center;
    margin: 12px 8px 8px;
  }
  #navigationBarLogo {
    width: 50%;
  }
}

@keyframes in {
  0% {
    width: 0;
    left: 0;
    right: auto;
  }
  100% {
    left: 0;
    right: auto;
    width: 100%;
  }
}
@keyframes out {
  0% {
    width: 100%;
    left: auto;
    right: 0;
  }
  100% {
    width: 0;
    left: auto;
    right: 0;
  }
}
@keyframes show {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
nav a:nth-child(1) {
  animation: show 0.2s 0.5s ease 1 both;
}
nav a:nth-child(2) {
  animation: show 0.2s 0.6s ease 1 both;
}
nav a:nth-child(3) {
  animation: show 0.2s 0.7s ease 1 both;
}
nav a:nth-child(4) {
  animation: show 0.2s 0.8s ease 1 both;
}
nav a:nth-child(5) {
  animation: show 0.2s 0.9s ease 1 both;
}

/* Footer Section */
footer {
  background-color: black;
  color: #fff;
}
footer .footerBlock {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 2.5%;
  padding-bottom: 1%;
}
footer .footerBlock1 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.footerCopyRight {
  padding-bottom: 2%;
}
footer .footerIcon {
  padding-right: 0.7rem;
  padding-left: 0.7rem;
  color: #fff;
  text-decoration: none;
}
footer .footerIcon:hover {
  color: blue;
}
footer #footerCreater {
  font-weight: bold;
  font-style: italic;
  text-decoration: none;
  color: #fff;
}
footer #footerCreater:hover {
  color: blue;
}

/* InfoAbout Section */

.infoAbout {
  background-color: #f3f5f7;
  display: flex;
  flex-direction: row;
  padding-left: 15%;
  padding-top: 8.5%;
  padding-bottom: 8.5%;
  justify-content: center;
  align-items: center;
}
.infoAboutTitle {
  font-weight: bold;
  font-size: 50px;
}
.infoAboutText {
  margin-left: 8%;
  margin-right: 15%;
}
#pp {
  width: 17%;
  border-radius: 100%;
}
.infoAboutButton {
  font-weight: 600;
  font-size: 20px;
  color: #000000;
}
.infoAboutResume {
  font-size: medium;
}
@media (max-width: 960px) {
  .infoAbout {
    background-color: #f3f5f7;
    display: flex;
    flex-direction: column;
    padding: 0;
  }
  .infoAboutTitle {
    text-align: center;
    font-size: 35 px;
  }
  #pp {
    display: flex;
    margin: auto;
    margin-bottom: 5%;
    width: 50%;
    border-radius: 100%;
  }
  .infoAboutText {
    margin: 5%;
  }
}
/*   */

.shortBlogTitle {
  text-align: center;
  font-weight: bold;
  padding-bottom: 2%;
  font-size: 50px;
}

.shortBlogLink {
  font-weight: bold;
  margin-top: 5%;
  margin-bottom: 4%;
  display: flex;
  justify-content: center;
  color: #000000;
  align-items: center;
  font-size: 30px;
}

/* NotFound Section */

#main {
  transition: all 0.6s;
  font-family: "Lato", sans-serif;
  height: max-content;
  color: #888;
  height: 65vh;
  display: table;
  width: 100%;
  vertical-align: middle;
  text-align: center;
}

.fof {
  transition: all 0.6s;
  display: table-cell;
  vertical-align: middle;
}

.fof h1 {
  transition: all 0.6s;
  font-size: 50px;
  display: inline-block;
  padding-right: 12px;
  animation: type 0.5s alternate infinite;
}
.fof h2 {
  transition: all 0.6s;
  font-size: 75px;
  display: inline-block;
  padding-right: 12px;
}

@keyframes type {
  from {
    transition: all 0.6s;
    box-shadow: inset -3px 0px 0px #888;
  }
  to {
    transition: all 0.6s;
    box-shadow: inset -3px 0px 0px transparent;
  }
}

/* Blog Detail */

.blogDetail {
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  font-size: 50px;
  padding: 7% 17% 7% 17%;
  background: #f3f5f7;
}
.blogDetail1 {
  text-align: justify;
  font-size: 12px;
  background: #f3f5f7;
}
.blogDetailImage {
  width: 55rem;
  height: 80vh;

  margin-bottom: 5rem;
}
@media only screen and (max-width: 1025px) and (min-width: 960px) {
  .blogDetail {
    text-align: center;
    font-size: 50px;
    padding: 15%;
    background: #f3f5f7;
  }
  .blogDetailImage {
    width: 40rem;
    height: 35vh;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}
@media (max-width: 960px) {
  .blogDetail {
    text-align: center;
    font-size: 50px;
    padding: 15%;
    background: #f3f5f7;
  }
  .blogDetailImage {
    width: 15rem;
    height: 25vh;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}

/**/
@font-face {
  font-family: "Anton";
  src: url("../style/Anton-Regular.woff2") format("woff2"),
    url("../style/Anton-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
.startpage {
  background-color: #f3f5f7;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.startpageShadows {
  position: relative;
  text-transform: uppercase;
  text-shadow: -15px 5px 20px rgb(66, 66, 66);
  color: #0000ff;
  letter-spacing: -0.05em;
  font-family: "Anton", Arial, sans-serif;
  user-select: none;
  text-transform: uppercase;
  font-size: 150px;
  transition: all 0.25s ease-out;
}

@media (max-width: 960px) {
  .startpage {
    background-color: #f3f5f7;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .startpageShadows {
    position: relative;
    text-transform: uppercase;
    text-shadow: -15px 5px 20px rgb(66, 66, 66);
    color: blue;
    letter-spacing: -0.05em;
    font-family: "Anton", Arial, sans-serif;
    user-select: none;
    text-transform: uppercase;
    font-size: 4rem;
    transition: all 0.25s ease-out;
  }
}

/**/
.adminIcon {
  color: blue;
}
.adminIcon:hover {
  color: red;
}
