/*
=====================================================================
*   kuskulu.com web design
*   url: github.com/eerensuzgen/blog
*   12-08-2021
=====================================================================
   TOC:
  ***Sections
   
===================================================================== */

/* General styles */

body {
  background: #f3f5f7;
}

a {
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}
a:hover {
  color: #e50914;
  transition: color 0.3s;
}
.pageDiv {
  margin-top: 80px;
}

/* About Section */
.about {
  background-color: #f3f5f7;
}
#aboutImage {
  height: 300px;
  padding-right: 5%;
  margin-top: 0;
  float: left;
}
@media (max-width: 960px) {
  #aboutImage {
    margin-bottom: 5%;
  }
}
.aboutTitle {
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  padding: 1%;
}
.aboutBioBlock {
  display: flex;
  flex-direction: row;
  padding-top: 2%;
  margin-left: 10%;
  margin-right: 10%;
}
.aboutBioText {
  float: left;
  font-family: "Times New Roman", Times, serif;
}
.aboutHr {
  margin-left: 10%;
  margin-right: 10%;
}
#aboutSchoolImage {
  margin-top: 2%;
  width: 50%;
  margin-left: 25%;
}

.aboutSchoolImage2 {
  margin-left: 34%;
  width: 35%;
}
@media (min-width: 960px) {
  .aboutSchoolImage2 {
    margin-left: 42%;
    width: 15%;
  }
}
.aboutSchoolTitle {
  text-align: center;
}

.aboutSchoolSpan {
  font-weight: 400;
}
.aboutSchoolDate {
  font-weight: 600;
  text-align: center;
  padding-bottom: 4%;
}
@media (max-width: 960px) {
  .aboutBioBlock {
    flex-direction: column;
  }
}

/* Navbar section */
.navbar {
  /* Set the navbar to fixed position */
  /* Position the navbar at the top of the page */
  width: 100%;
  transition: background-color 200ms linear;
  background-color: transparent;
  color: black;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  top: 0;
  z-index: 1;
  /* Fix your navbar by using below two lines of code */
  position: fixed; /* Fix your navbar by using above two lines of code */
  @media screen and (max-width: 960px) {
    transition: 0.8s all ease;
    top: 0;
  }
}

.navContainer {
  display: flex;
  justify-content: space-between;
  height: 80px;
  width: 100%;
  max-width: 1100px;
}
.navLogo {
  cursor: pointer;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  margin-left: 24px;
  font-weight: bold;
  text-decoration: none;
}
.navMenu {
  display: flex;
  align-items: center;
  list-style: none;
  text-align: center;
  margin-right: -22px;

  @media screen and (max-width: 960px) {
    display: none;
  }
}
.navItem {
  height: 80px;
}
.navLinks {
  color: #e50914;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0 1rem;
  height: 100%;
  cursor: pointer;
}

.navLinks:hover:after {
  width: 100%;
  left: 0;
  background: rgb(168, 168, 168);
}
.scrollNav {
  background-color: #f3f5f7;
  color: "#ffffff";
}
nav {
  width: 100%;
  position: fixed;
  top: 50px;
  text-align: center;
}
nav a {
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
  color: #16151b;
  margin: 0 15px;
  font-size: 16px;
  letter-spacing: 1px;
  position: relative;
  display: inline-block;
}
nav a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  background: #16151b;
  top: 47%;
  animation: out 0.2s cubic-bezier(1, 0, 0.58, 0.97) 1 both;
}
nav a:hover:before {
  animation: in 0.2s cubic-bezier(1, 0, 0.58, 0.97) 1 both;
}
@keyframes in {
  0% {
    width: 0;
    left: 0;
    right: auto;
  }
  100% {
    left: 0;
    right: auto;
    width: 100%;
  }
}
@keyframes out {
  0% {
    width: 100%;
    left: auto;
    right: 0;
  }
  100% {
    width: 0;
    left: auto;
    right: 0;
  }
}
@keyframes show {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
nav a:nth-child(1) {
  animation: show 0.2s 1.1s ease 1 both;
}
nav a:nth-child(2) {
  animation: show 0.2s 1.2s ease 1 both;
}
nav a:nth-child(3) {
  animation: show 0.2s 1.3s ease 1 both;
}
nav a:nth-child(4) {
  animation: show 0.2s 1.4s ease 1 both;
}
nav a:nth-child(5) {
  animation: show 0.2s 1.5s ease 1 both;
}

/* Footer Section */
footer {
  background-color: black;
  color: #fff;
}
footer .footerBlock {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 2.5%;
  padding-bottom: 1%;
}
footer .footerBlock1 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.footerCopyRight {
  padding-bottom: 2%;
}
footer .footerIcon {
  padding-right: 0.7rem;
  padding-left: 0.7rem;
  color: #fff;
  text-decoration: none;
}
footer .footerIcon:hover {
  color: #e50914;
}
footer #footerCreater {
  font-weight: bold;
  font-style: italic;
  text-decoration: none;
  color: #fff;
}
footer #footerCreater:hover {
  color: #e50914;
}
/* StartPage section */
#startPageImage {
  width: 100%;
  height: auto;
}
/* InfoAbout Section */

.infoAbout {
  background-color: #f3f5f7;
  display: flex;
  flex-direction: row;
  padding-left: 15%;
  padding-top: 8.5%;
  padding-bottom: 8.5%;
}
.infoAboutTitle {
  font-weight: bold;
  font-size: 50px;
}
.infoAboutText {
  margin-left: 8%;
  margin-right: 15%;
}
#pp {
  width: 17%;
  border-radius: 100%;
}
.infoAboutButton {
  font-weight: 600;
  font-size: 20px;
  color: #000000;
}
.infoAboutResume {
  text-indent: 0.5rem;
  font-size: medium;
}
@media (max-width: 960px) {
  .infoAbout {
    background-color: #f3f5f7;
    display: flex;
    flex-direction: column;
    padding: 0;
  }
  .infoAboutTitle {
    text-align: center;
    font-size: 35 px;
  }
  #pp {
    display: flex;
    margin: auto;

    width: 50%;
    border-radius: 100%;
  }
  .infoAboutText {
    margin: 5%;
  }
}
/*   */

.shortBlogTitle {
  text-align: center;
  font-weight: bold;
  padding-bottom: 2%;
  font-size: 50px;
}

.shortBlogLink {
  font-weight: bold;
  margin-top: 5%;
  margin-bottom: 4%;
  display: flex;
  justify-content: center;
  color: #000000;
  align-items: center;
  font-size: 30px;
}

/* NotFound Section */

#main {
  transition: all 0.6s;
  font-family: "Lato", sans-serif;
  height: max-content;
  color: #888;
  height: 65vh;
  display: table;
  width: 100%;
  vertical-align: middle;
  text-align: center;
}

.fof {
  transition: all 0.6s;
  display: table-cell;
  vertical-align: middle;
}

.fof h1 {
  transition: all 0.6s;
  font-size: 50px;
  display: inline-block;
  padding-right: 12px;
  animation: type 0.5s alternate infinite;
}
.fof h2 {
  transition: all 0.6s;
  font-size: 75px;
  display: inline-block;
  padding-right: 12px;
}

@keyframes type {
  from {
    transition: all 0.6s;
    box-shadow: inset -3px 0px 0px #888;
  }
  to {
    transition: all 0.6s;
    box-shadow: inset -3px 0px 0px transparent;
  }
}

/* Blog Detail */

.blogDetail {
  text-align: center;
  font-size: 50px;
  padding: 15%;
  background: #f3f5f7;
}

/**/
@font-face {
  font-family: "Anton";
  src: url("../style/Anton-Regular.woff2") format("woff2"),
    url("../style/Anton-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
.startpage {
  background-color: #f3f5f7;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.startpageShadows {
  position: relative;
  text-transform: uppercase;
  text-shadow: -15px 5px 20px rgb(66, 66, 66);
  color: #e50914;
  letter-spacing: -0.05em;
  font-family: "Anton", Arial, sans-serif;
  user-select: none;
  text-transform: uppercase;
  font-size: 150px;
  transition: all 0.25s ease-out;
}
@media (max-width: 960px) {
  .startpage {
    background-color: #f3f5f7;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .startpageShadows {
    position: relative;
    text-transform: uppercase;
    text-shadow: -15px 5px 20px rgb(66, 66, 66);
    color: #e50914;
    letter-spacing: -0.05em;
    font-family: "Anton", Arial, sans-serif;
    user-select: none;
    text-transform: uppercase;
    font-size: 4rem;
    transition: all 0.25s ease-out;
  }
}
