/* Navbar section */
body {
  background: white;
}
.navbar {
  /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%;
  transition: background-color 200ms linear;
  color: black;
  background: transparent;
  background-color: transparent;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  /* Fix your navbar by using below two lines of code */
  position: fixed;
  top: 0;
  /* Fix your navbar by using above two lines of code */
  z-index: 10;

  @media screen and (max-width: 960px) {
    transition: 0.8s all ease;
  }
}
.navContainer {
  display: flex;
  justify-content: space-between;
  height: 80px;
  z-index: 1;
  width: 100%;
  padding: 0 24px;
  max-width: 1100px;
}
.navLogo {
  color: green;
  justify-self: flex-start;
  cursor: pointer;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  margin-left: 24px;
  font-weight: bold;
  text-decoration: none;
}
.navMenu {
  display: flex;
  align-items: center;
  list-style: none;
  text-align: center;
  margin-right: -22px;

  @media screen and (max-width: 960px) {
    display: none;
  }
}
.navItem {
  height: 80px;
}
.navLinks {
  color: white;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0 1rem;
  height: 100%;
  cursor: pointer;
}
.navLinks:active {
  color: #000000;
}

.scrollNav {
  background-color: black;
  color: "#ffffff";
}

/**/
.footerBlock {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3%;
  margin-bottom: 1%;
}
.footerBlock1 {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-bottom: 2%;
}
.footerIcon {
  padding-right: 0.7rem;
  padding-left: 0.7rem;
  color: black;
  text-decoration: none;
}
.footerIcon:hover {
  color: red;
}
/**/
#startPageImage {
  width: 100%;
  height: 721px;
}
/**/
.infoAbout {
  display: flex;
  flex-direction: row;
  margin-left: 15%;
  margin-top: 13.2%;
  margin-bottom: 13.2%;
}
.infoAboutText {
  margin-left: 8%;
  margin-right: 15%;
}
#pp {
  border-radius: 100%;
}
a {
  text-decoration: none;
}
